body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal, 18px;

}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 25px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

style {
    text-align: center;
}